USE [master]
GO
/****** Object:  Database [QLyLuong]    Script Date: 11/12/2023 10:26:07 PM ******/
CREATE DATABASE [QLyLuong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyLuong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLyLuong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyLuong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLyLuong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyLuong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyLuong]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[maCN] [nvarchar](10) NOT NULL,
	[maCD] [nvarchar](10) NOT NULL,
	[ngayCham] [date] NULL,
	[chiTieu] [int] NULL,
	[soLuongHoanThanh] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDoan]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDoan](
	[maCD] [nvarchar](10) NOT NULL,
	[tenCD] [nvarchar](50) NOT NULL,
	[luongTheoSP] [float] NULL,
	[maSP] [nvarchar](10) NULL,
	[thuTu] [int] NULL,
 CONSTRAINT [PK_CongDoan] PRIMARY KEY CLUSTERED 
(
	[maCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhanSanXuat]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhanSanXuat](
	[maCN] [nvarchar](10) NOT NULL,
	[hoTenCN] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](255) NULL,
	[CCCD] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[ngayVao] [date] NULL,
	[maToSX] [int] NULL,
	[trangThai] [bit] NULL,
	[bangCap] [nvarchar](50) NULL,
	[tayNghe] [int] NULL,
	[luongSanPham] [float] NULL,
	[phuCap] [float] NULL,
 CONSTRAINT [PK_CongNhanSanXuat] PRIMARY KEY CLUSTERED 
(
	[maCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[maNV] [nvarchar](10) NOT NULL,
	[ngayNghi] [date] NOT NULL,
	[phep] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongCongNhanSanXuat]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongCongNhanSanXuat](
	[maBangLuongCN] [nvarchar](10) NOT NULL,
	[nam] [int] NULL,
	[thang] [int] NULL,
	[trangThai] [bit] NULL,
	[maCN] [nvarchar](10) NULL,
	[luongSanPham] [float] NULL,
	[phuCap] [float] NULL,
	[luongThucLanh] [float] NULL,
 CONSTRAINT [PK_LuongCongNhanSanXuat] PRIMARY KEY CLUSTERED 
(
	[maBangLuongCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNhanVienHanhChinh]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNhanVienHanhChinh](
	[maBangLuongHC] [nvarchar](10) NOT NULL,
	[nam] [int] NULL,
	[thang] [int] NULL,
	[trangThai] [bit] NULL,
	[maNV] [nvarchar](10) NULL,
	[heSoLuong] [float] NULL,
	[luongCoBan] [float] NULL,
	[phuCap] [float] NULL,
	[luongThucLanh] [float] NULL,
 CONSTRAINT [PK_LuongNhanVienHanhChinh] PRIMARY KEY CLUSTERED 
(
	[maBangLuongHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienHanhChinh]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienHanhChinh](
	[maNV] [nvarchar](10) NOT NULL,
	[hoTenNV] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](255) NULL,
	[CCCD] [nvarchar](20) NULL,
	[SDT] [nvarchar](20) NULL,
	[ngayVao] [date] NULL,
	[maPhongBan] [nvarchar](10) NULL,
	[trangThai] [bit] NULL,
	[bangCap] [nvarchar](50) NULL,
	[luongCoBan] [float] NULL,
	[phuCap] [float] NULL,
	[heSoLuong] [float] NULL,
	[tenTK] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhanVienHanhChinh] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[maPhongBan] [nvarchar](10) NOT NULL,
	[tenPhongBan] [nvarchar](50) NOT NULL,
	[soLuongNV] [int] NOT NULL,
	[moTa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[maPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [nvarchar](10) NOT NULL,
	[tenSP] [nvarchar](50) NOT NULL,
	[soLuongTon] [int] NULL,
	[giaThanh] [money] NULL,
	[trangThai] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTK] [nvarchar](20) NOT NULL,
	[matKhau] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToSanXuat]    Script Date: 11/12/2023 10:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToSanXuat](
	[maToSX] [int] NOT NULL,
	[moTa] [nvarchar](50) NOT NULL,
	[soLuongCN] [int] NOT NULL,
 CONSTRAINT [PK_ToSanXuat] PRIMARY KEY CLUSTERED 
(
	[maToSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_CongDoan] FOREIGN KEY([maCD])
REFERENCES [dbo].[CongDoan] ([maCD])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_CongDoan]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_CongNhanSanXuat] FOREIGN KEY([maCN])
REFERENCES [dbo].[CongNhanSanXuat] ([maCN])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_CongNhanSanXuat]
GO
ALTER TABLE [dbo].[CongDoan]  WITH CHECK ADD  CONSTRAINT [FK_CongDoan_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[CongDoan] CHECK CONSTRAINT [FK_CongDoan_SanPham]
GO
ALTER TABLE [dbo].[CongNhanSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_CongNhanSanXuat_ToSanXuat] FOREIGN KEY([maToSX])
REFERENCES [dbo].[ToSanXuat] ([maToSX])
GO
ALTER TABLE [dbo].[CongNhanSanXuat] CHECK CONSTRAINT [FK_CongNhanSanXuat_ToSanXuat]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_NgayNghi_NhanVienHanhChinh] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVienHanhChinh] ([maNV])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_NgayNghi_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[LuongCongNhanSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_LuongCongNhanSanXuat_CongNhanSanXuat] FOREIGN KEY([maCN])
REFERENCES [dbo].[CongNhanSanXuat] ([maCN])
GO
ALTER TABLE [dbo].[LuongCongNhanSanXuat] CHECK CONSTRAINT [FK_LuongCongNhanSanXuat_CongNhanSanXuat]
GO
ALTER TABLE [dbo].[LuongNhanVienHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_LuongNhanVienHanhChinh_NhanVienHanhChinh] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVienHanhChinh] ([maNV])
GO
ALTER TABLE [dbo].[LuongNhanVienHanhChinh] CHECK CONSTRAINT [FK_LuongNhanVienHanhChinh_NhanVienHanhChinh]
GO
ALTER TABLE [dbo].[NhanVienHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienHanhChinh_PhongBan] FOREIGN KEY([maPhongBan])
REFERENCES [dbo].[PhongBan] ([maPhongBan])
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] CHECK CONSTRAINT [FK_NhanVienHanhChinh_PhongBan]
GO
ALTER TABLE [dbo].[NhanVienHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienHanhChinh_TaiKhoan] FOREIGN KEY([tenTK])
REFERENCES [dbo].[TaiKhoan] ([tenTK])
GO
ALTER TABLE [dbo].[NhanVienHanhChinh] CHECK CONSTRAINT [FK_NhanVienHanhChinh_TaiKhoan]
GO
USE [master]
GO
